<form method="post" action="{{ path('admin_regroupement_ope_delete', {'id': regroupement_ope.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ regroupement_ope.id) }}">
    <button class="btn">Delete</button>
</form>
