{% extends 'base_' ~ ga_theme ~ '.html.twig' %}

{% block title %}New RegroupementOpe{% endblock %}

{% block body %}
    <h1>Create new RegroupementOpe</h1>

    {{ include('admin_regroupement_ope/_form.html.twig') }}

    <a href="{{ path('admin_regroupement_ope_index') }}">back to list</a>
{% endblock %}
