{% extends 'base_' ~ ga_theme ~ '.html.twig' %}

{% block title %}Edit Operation{% endblock %}

{% block body %}
    <h1>Edit Operation</h1>

    {{ include('admin/operation/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a href="{{ path('operation_index') }}">back to list</a>

    {#{ include('admin/operation/_delete_form.html.twig') }#}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('assets/js/site.js')}}"></script>
{% endblock %}