{% extends 'base_' ~ ga_theme ~ '.html.twig' %}

{% block title %}New Operation{% endblock %}

{% block body %}
    <h1>{{ configs.site.libelle.currentTitle }}</h1>

    {{ include('admin/operation/_form.html.twig') }}

    <a href="{{ path('operation_index') }}">back to list</a>
{% endblock %}
