{% extends 'base_' ~ ga_theme ~ '.html.twig' %}

{% block title %}Operation{% endblock %}

{% block body %}
    <section id="data">
        {% include "admin/operation/block_reccueil.html.twig" with {'operation': operation, 'version': version} %}
    </section>

    <a href="{{ path('operation_index_par_dept_dir') }}">back to list</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/fixedcolumns/3.3.1/js/dataTables.fixedColumns.min.js"></script>
    <script src="{{ asset("assets/js/site.js") }}"></script>
{% endblock %}
