{% extends 'base_' ~ ga_theme ~ '.html.twig' %}

{% block title %}Edit NatureOpe{% endblock %}

{% block body %}
    <h1>Edit NatureOpe</h1>

    {{ include('admin_nature_ope/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_nature_ope_index') }}">back to list</a>

    {{ include('admin_nature_ope/_delete_form.html.twig') }}
{% endblock %}
